/*!

 =========================================================
 * Blockly - v2.1.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-dashboard
 * Copyright 2020 Creative Tim (http://www.creative-tim.com)

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
/*     brand Colors              */

body
{
  background-color: #fff;
  font-family: sans-serif;
}
h1
{
  font-weight: normal;
  font-size: 140%;
}
textarea
{
  width: 100%;
  height: 20em;
}
#capacity
{
  color: red;
}
